.example-full-width {
    width: 100%;
  }

.principal {
    margin-top: -90px;
  }

  .sttx-boldfont {
     text-align: center;
  }

  .content-wrapper {
    margin-left: 5px;
    
  }

  .button {
    top: 12px;
    left: 150px;
  }
  

  .grid {
    margin-right: 40px;
    margin-left: 30px;
  }

  .btn-exportar {
    background-color: #3f51b5;
    color: white;

  }
  
  #color {
    color: red;
  }


.k-grid tr.warning { background-color:beige; color: red; }
.k-grid tr.normal { background-color: white; color: black; }
